html, body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.externals {
    position: absolute;
    font-size: 2em;
    right: 0.5em;
    top: 2.5em;
}

.externals svg{
    padding-right: 0.2em;
}
.cardtainer {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 800;
}

.wrapper {
    /*display: flex;
    flex-direction: column;*/
    margin: 0 auto;
}

.arrow {
    position: absolute;
    right: 2.5rem;
    bottom: 1rem;
    animation: bounce 0.5s infinite alternate;
    z-index: -1;
}

.subtitle {
    color: #000066;
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: light;
}

#home-cont {
    /*background-color: #306AD0;*/
    /*border: 1px solid black;*/
    padding: 0 2em;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Inter';
    /*background-color: #395fdd;*/
}

#home-intro {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1000px;
    
    
}

.text {
    font-family: 'Roboto','Liberation Sans', Helvetica, sans-serif;
}



.home-titledesc {
    margin-top: 5%;
    text-align: center;
}

.buttons{
    padding-top: 15px;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

footer {
    text-align: center;
    font-size: 0.6em;
    height: 4em;
    margin: 2em 0 0 0;
}


/*Styles for desktop*/
@media (min-width: 792px) {

    .card {
        flex: 0 30%;
        margin-bottom: 1.5%;
    }

    .cardtainer { 
        flex-wrap: wrap;
        flex-direction: row;
    }

    /*.cardtainer>div {
        flex: 0 20%;
    }*/

    .buttons{
        display: flex;
    }

    .title {
        font-size: 2rem;
        white-space:nowrap;
    }

    .text{
        text-align: left;
        font-size: 1em;
    }

    

.home-titledesc {
    margin-top: 0px;
    width: 50em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    
}


.buttonContainer{
    display: block;
}

#home-intro {
    padding: 0 10em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    
}

.start-cover {
    height: 40em;
    max-width: 50%;
    /*justify-content: flex-end;*/
}

.arrow {
    right: 4.5rem;
    bottom: 3rem;
}

.buttons { 
    white-space: nowrap
}

}
